<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="DevOps"
            id="StoryBoard">
      </category>
      <view
            name="Story Board"
            inject="true"
            icon="icons/sample.png"
            category="StoryBoard"
            class="com.go2group.storyboard.views.StoryBoardView"
            id="com.go2group.storyboard.views.StoryBoardView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.go2group.storyboard.views.StoryBoardView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
